$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../fonts/font-awesome/scss/font-awesome.scss";
// endbower

@import "variables";
@import "mixins";
@import "components/navbar";
@import "components/mood";
@import "components/pam";
@import "components/magic";
@import "components/the-end";

@font-face { font-family: Silom; src: url('../fonts/Silom.ttf'); } 

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */

html, body {
  width: 100%;
  color: $white;
  overflow-x: hidden;
}

body {
  background: url('/images/background.png') no-repeat fixed center center;
}

a {
  color: $white;

  &:hover {
    color: $white;
  }
}

.container {
  height: 1000px;
  padding-top: 200px;
}

.movie-typeahead .tt-dropdown-menu {
  max-height: 350px;
  overflow-y: auto;
}