.mood {

	width: 422px;
	margin: 0 auto;

	.fa-plus {
		color: $black;
	}

	.fa-bolt {
		padding-left: 10px;
	}

	.pick-movie {
		border: 1px solid $yellow;
		border-radius: 6px;
		margin-top: 20px;

		h3 {
			margin-top: 10px;
		}
	}
}

.add-people {
	width: 75px;
	margin: 0 auto;
	position: relative;
	top: 50px;
}