.navbar {
	color: $white;
	border: none;
  	background-color: $black;
  	@include font-silom();
  	height: 70px;

  	.navbar-brand {
		color: $white;
		font-size: 48px;

		.fa {
			font-size: 40px;
			position: relative;
			top: -5px;
			padding-right: 10px;
		}

		&:hover {
			color: $white;
		}
	}
}

