.pam, .tim {

	input {
	    font-size: 14px;
	    width: 200px;
	}

	.progresss-input {
		width: 1400px;
	}

	.movie-choice {
	    background: transparent;
	    border: 1px solid $yellow;
	    border-radius: 6px;
	    width: 422px;
	    margin: 10px 0;
	    line-height: 42px;
	    font-size: 24px;
	    text-align: center;
	}

	#pam-movie1, #tim-movie1
	 {
		position: relative;
		left: 0;
	}

	#pam-movie2, #pam-movie3,
	#tim-movie2, #tim-movie3
	 {
		position: relative;
		left: 100%;
	}

	.progresss {
		color: $white;

		padding: 0 5px;

		&.active {
			color: $yellow;
		}
	}
}